################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/bin/Debug/net8.0/Delta.Beverages.Web.dll
