################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/bin
/OBJ

/bin/Debug/net8.0/Delta.Beverages.Web.exe
/bin/Debug/net8.0/Delta.Beverages.Web.pdb
/bin/Debug/net8.0/Delta.Beverages.Web.staticwebassets.runtime.json
